<div class="tab-list">
  <span
    class="tab"
    *ngFor="let experience of experiences.employments; let i = index"
    (click)="onCompanyClick(i, $event)"
    >{{ experience.company }}</span
  >
  <div class="bright-line"></div>
</div>
<div class="content">
  <div class="exp-content">
    <h3>
      <span>{{ experiences.employments[activeTabId].role }}</span>
      <span class="company"
        >&nbsp;@&nbsp;
        <a (click)="goto(experiences.employments[activeTabId].link)">{{
          experiences.employments[activeTabId].company
        }}</a></span
      >
    </h3>
    <p class="range">{{ experiences.employments[activeTabId].range }}</p>
    <div>
      <ul *ngFor="let note of experiences.employments[activeTabId].notes">
        <li>{{ note }}</li>
      </ul>
    </div>
  </div>
</div>
