.introduction {
  display: flex;
}

.introduction > div {
  flex: 1;
}

.introduction > .animation {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.tech {
  width: 5rem;
  position: absolute;
}

.tech_background {
  padding: 1.1rem;
  background: #222;
  border-radius: 50%;
  display: flex;
}

.tech-1 {
  top: 10rem;
}

.tech-2 {
  top: 10rem;
  right: 2rem;
}

.tech-3 {
  bottom: 10rem;
}

.tech-4 {
  bottom: 10rem;
  right: 2rem;
}

.tech-5 {
  top: 0;
  left: 5rem;
}

.tech-6 {
  top: 0;
  right: 5rem;
}

@media (min-width: 701px) {
  .animation {
    width: 50rem;
  }
}

@media (max-width: 700px) {
  .introduction {
    flex-direction: column-reverse;
  }

  .tech-1 {
    top: 2rem;
  }

  .tech-2 {
    top: 2rem;
    right: 1rem;
  }

  .tech-3 {
    bottom: 2rem;
  }

  .tech-4 {
    bottom: 2rem;
    right: 1rem;
  }

  .tech-5 {
    top: 9rem;
    left: 0;
  }

  .tech-6 {
    top: 9rem;
    right: 1rem;
  }
}

.animate__pulseup {
  animation-name: pulse_up;
  animation-timing-function: ease-in-out;
}

@keyframes pulse_up {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.funky-hello {
  margin: 0px 0px 30px 4px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
}

.big-heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}

.small-text {
  margin: 50px 0px 0px;
  max-width: 540px;
}

h3 {
  margin-top: 10px !important;
  color: var(--slate);
  line-height: 0.9;
}
