<div [ngClass]="{ hidden: !webVisible }">
  <h2 class="funky-hello animate__animated animate__fadeInUp delay-1">Hi, I'm</h2>
  <div>
    <h2 class="big-heading animate__animated animate__fadeInUp delay-1">{{ name }}.</h2>
  </div>
  <div>
    <h3 class="big-heading animate__animated animate__fadeInUp delay-2">{{ quickIntroduction }}</h3>
  </div>
  <div>
    <p class="small-text animate__animated animate__fadeInUp delay-3">{{ subIntroduction }}</p>
  </div>
  <div>
    <a href="mailto:tilakpuli15@gmail.com" class="email-link animate__animated animate__fadeInUp delay-4"
      >Get In Touch</a
    >
  </div>
</div>
