<div [ngClass]="{ hidden: !webVisible }" class="introduction">
  <div>
    <h2 class="funky-hello animate__animated animate__fadeInUp delay-1">Hi, I'm</h2>
    <div>
      <h2 class="big-heading animate__animated animate__fadeInUp delay-1">{{ name }}.</h2>
    </div>
    <div>
      <h3 class="big-heading animate__animated animate__fadeInUp delay-2">{{ quickIntroduction }}</h3>
    </div>
    <div>
      <p class="small-text animate__animated animate__fadeInUp delay-3">{{ subIntroduction }}</p>
    </div>
    <div>
      <a href="mailto:tilakpuli15@gmail.com" class="email-link animate__animated animate__fadeInUp delay-4"
      >Get In Touch</a
      >
    </div>
  </div>
  <div class="animation">
    <img class="tech tech-1 animate__animated animate__pulseup animate__infinite animate__slower animate__delay-1s" src="assets/tech/html.svg" alt="html">
    <img class="tech tech-2 animate__animated animate__pulseup animate__infinite animate__slower animate__delay-1s" src="assets/tech/css.svg" alt="css">
    <img class="tech tech-3 animate__animated animate__pulseup animate__infinite animate__slower animate__delay-1s" src="assets/tech/react.svg" alt="react">
    <img class="tech tech-4 animate__animated animate__pulseup animate__infinite animate__slower animate__delay-1s" src="assets/tech/js.svg" alt="js">
    <img class="tech tech-5 animate__animated animate__pulseup animate__infinite animate__slower animate__delay-1s" src="assets/tech/nodejs.svg" alt="nodejs">
    <div class="tech tech_background tech-6 animate__animated animate__pulseup animate__infinite animate__slower animate__delay-1s">
      <img src="assets/tech/kotlin.svg" alt="kotlin">
    </div>
    <ng-lottie [options]="options">
    </ng-lottie>
  </div>
</div>
