:host {
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a svg {
  color: var(--green);
  fill: none;
  transition: var(--transition);
  user-select: none;
}

.logo a {
  color: var(--green);
  width: 42px;
  height: 42px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  counter-reset: item 0;
  z-index: 12;
}

.menu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu ul li {
  margin: 0 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fz-xs);
  padding: 10px;
}

.resume-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-left: 15px;
  font-size: var(--fz-xs);
}

.resume-button:hover,
.resume-button:focus,
.resume-button:active {
  background-color: var(--green-tint);
  outline: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  margin-right: -15px;
  padding: 15px;
  border: 0;
  background-color: transparent;
  color: inherit;
  text-transform: none;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
}
.ham-box {
  display: inline-block;
  position: relative;
  width: var(--hamburger-width);
  height: 24px;
}

.ham-box-inner {
  position: absolute;
  top: 50%;
  right: 0;
  width: var(--hamburger-width);
  height: 2px;
  border-radius: var(--border-radius);
  background-color: var(--green);
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(0deg);
}

.menu-open {
  transition-delay: 0.12s;
  transform: rotate(225deg);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.ham-box-inner::before,
.ham-box-inner::after {
  content: '';
  display: block;
  position: absolute;
  left: auto;
  right: 0;
  width: var(--hamburger-width);
  height: 2px;
  border-radius: 4px;
  background-color: var(--green);
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

.ham-box-inner::before {
  width: 120%;
  top: -10px;
  opacity: 1;
  transition: var(--ham-before);
}

.ham-box-inner::after {
  width: 80%;
  bottom: -10px;
  transform: rotate(0deg);
  transition: var(--ham-after);
}

.menu-open::before {
  width: 100%;
  top: 0;
  opacity: 0;
  transition: var(--ham-before-active);
}

.menu-open::after {
  width: 100%;
  bottom: 0;
  transform: rotate(-90deg);
  transition: var(--ham-after-active);
}

.side-nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 100%;
}
.side-nav ul > li {
  position: relative;
  margin: 0px auto 20px;
  counter-increment: item 1;
  font-size: clamp(var(--fz-sm), 4vw, var(--fz-lg));
}

.side-nav {
  display: none;
}

.side-nav nav {
  width: 100%;
  flex-direction: column;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-nav ul a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  width: 100%;
  padding: 3px 20px 20px;
}

.side-nav .resume-link {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  padding: 18px 50px;
  margin: 10% auto 0px;
  width: max-content;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .side-nav {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0;
    background-color: var(--light-navy);
    box-shadow: -10px 0 30px -15px var(--navy-shadow);
    z-index: 9;
    transform: translateX(100vw);
    visibility: hidden;
    transition: var(--transition);
  }

  .side-nav-open {
    display: flex;
    visibility: visible;
    transform: translateX(0vw);
    transition: var(--transition);
  }
}

@media (max-width: 600px) {
  .side-nav ol li {
    margin: 0 auto 10px;
  }
}
