:host {
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a svg {
  color: var(--green);
  fill: none;
  transition: var(--transition);
  user-select: none;
}

.logo a {
  color: var(--green);
  width: 42px;
  height: 42px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  counter-reset: item 0;
  z-index: 12;
}

.menu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.menu ul li {
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fz-xs);
  padding: 10px;
}

.resume-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-left: 15px;
  font-size: var(--fz-xs);
}

.resume-button:hover,
.resume-button:focus,
.resume-button:active {
  background-color: var(--green-tint);
  outline: none;
}
